<script lang="ts" setup>
import { ref } from "vue";
import { ProDucts } from "@/stores/product";
const useProduct = ProDucts();
// const sum = ref(0);

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow: auto">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card>
                <v-card-title style="text-align: center; font-size: 0.5cm">{{
                  item.name
                }}</v-card-title>
                <v-card-text style="text-align: center; font-size: 0.4cm">{{
                  item.price
                }}</v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn
                    elevation="2"
                    outlined
                    shaped
                    style="font-size: 0.4cm"
                    @click="useProduct.add(item.id, item.name, item.price)"
                    >Add</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <!-- ///// -->
      <v-col>
        <v-row style="height: 70vh; overflow: auto">
          <v-col cols="15">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left" style="width: 25%">id</th>
                  <th class="text-left" style="width: 25%">name</th>
                  <th class="text-left" style="width: 25%">price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item of useProduct.product" :key="item.id">
                  <td>
                    {{ item.id }}
                  </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                </tr>
                <tr v-if="useProduct.product.length === 0">
                  <td colspan="3" class="text-center">NO Data</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div style="font-size: 1.5cm">Sum: {{ useProduct.sum }}</div></v-col
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
