<script lang="ts" setup>
import { ref } from "vue";
const feeling = ref("Smile");
const img = ref("../../feeling_imgs/smile.png");
const color1 = ref("#FFEA00");

function btn(text: string, imgs: string) {
  if (text !== "Smile") {
    color1.value = "";
  }
  feeling.value = text;
  img.value = imgs;
}
</script>
<template>
  <v-container>
    <br />
    <v-row>
      <v-col>
        <picture>
          <!-- <source srcset="image.webp"> -->
          <img :src="img" width="400" height="400" />
        </picture>
      </v-col>
      <v-col>
        <div style="text-align: center; font-size: 1cm">
          <label id="1">{{ feeling }}</label>
        </div>
        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Angry', '../../feeling_imgs/angry.png')"
            class="btns"
            >ANGRY</v-btn
          >
        </div>

        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Cute', '../../feeling_imgs/cute.png')"
            class="btns"
            >CUTE</v-btn
          >
        </div>

        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Excited', '../../feeling_imgs/excited.png')"
            class="btns"
            >EXCITED</v-btn
          >
        </div>

        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Pain', '../../feeling_imgs/pain.png')"
            class="btns"
            >PAIN</v-btn
          >
        </div>

        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Shocked', '../../feeling_imgs/shocked.png')"
            class="btns"
            >SHOCKED</v-btn
          >
        </div>

        <br />
        <div>
          <v-btn
            style="width: 600px; height: 50px"
            @click="btn('Smile', '../../feeling_imgs/smile.png')"
            class="btns"
            :color="color1"
            >SMILE</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.btns:focus {
  background-color: #ffea00;
}
</style>
