<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="15">
        <v-text-field
          v-model="num"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          label="Please input Number"
          counter
        ></v-text-field>

        <!-- {{ num }} -->
      </v-col>
    </v-row>
    <v-row style="height: 70vh; overflow: auto">
      <v-col v-for="i in parseInt(num)" :key="i" cols="1">
        {{ i }}
      </v-col>
    </v-row>
  </v-container>
</template>
