<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
// eslint-disable-next-line vue/no-export-in-script-setup

const number = ref(0);

function increment() {
  number.value++;
}
function decrement() {
  if (number.value == 0) {
    number.value == 0;
  } else {
    number.value--;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent />
        <div>{{ number }}</div>
        <br />
        <br />
        <v-btn style="width: 100px; height: 50px" @click="increment"
          >INCREMENT</v-btn
        >
      </v-col>
      <v-col>
        <SecondComponent />
        <div>{{ number * 2 }}</div>
        <br />
        <br />
        <v-btn style="width: 100px; height: 50px" @click="decrement"
          >DECREASE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>
