<script setup lang="ts">
import { RouterView } from "vue-router";
import {
  mdiNumeric1,
  mdiNumeric2,
  mdiNumeric3,
  mdiNumeric4,
  mdiHeadQuestion,
} from "@mdi/js";
import SolveProblem1 from "./views/SolveProblem1.vue";
import SolveProblem2 from "./views/SolveProblem2.vue";
import SolveProblem3 from "./views/SolveProblem3.vue";
import SolveProblem4 from "./views/SolveProblem4.vue";
</script>

<template>
  <v-app>
    <v-app-bar :elevation="2">
      <v-app-bar-title>Midterm Problems</v-app-bar-title>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail>
      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiHeadQuestion"
          title="Problems"
          class="text-body"
          to="/"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiNumeric1"
          title="Problem 1"
          class="text-body"
          to="/solve-problem-1"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiNumeric2"
          title="Problem 2"
          class="text-body"
          to="/solve-problem-2"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiNumeric3"
          title="Problem 3"
          class="text-body"
          to="/solve-problem-3"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiNumeric4"
          title="Problem 4"
          class="text-body"
          to="/solve-problem-4"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
  <!-- 
  <v-card>
    <v-tabs bg-color="primary">
      <v-tab value="1">SolveProblem1</v-tab>
      <v-tab value="2">SolveProblem2</v-tab>
      <v-tab value="3">SolveProblem3</v-tab>
      <v-tab value="4">SolveProblem4</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window>
        <v-window-item value="1">
          <SolveProblem1 />
        </v-window-item>

        <v-window-item value="2">
          <SolveProblem2 />
        </v-window-item>

        <v-window-item value="3">
          <SolveProblem3 />
        </v-window-item>
        <v-window-item value="4">
          <SolveProblem4 />
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card> -->
</template>

<style></style>
